
/*
 *  Base Colors
 */

    $primary-color:         blue;
    $secondary-color:       red;


/*
 *  Background Colors
 */

    $html__bgcolor:         none;
    $body__bgcolor:         none;


/*
 *  Font Colors
 */

    $font-color:            #3B4147;
