$font__base-color: $font-color;
$font__base-family: "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
$font__base-size: 16px;
$font__base-style: normal;

$font__base-anchor-color: $primary-color;
$font__base-anchor-hover-color: $secondary-color;

$font__title-family: "ganache", 'Montserrat', "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
$font__title-weight: 200;
$font__title-letterspacing: -0.10rem;
